<div class="l-navbar show-n" id="nav-bar">
  <nav class="nav">
    <div>
      <a
        class="nav_logo"
        [routerLink]="[langPath()]"
        [queryParamsHandling]="queryParamsHandling()"
      >
        <img [src]="updLogo()" alt="{{ 'app.title' | translate }}" />
      </a>
      <div class="nav_list mt-5">
        <a
          [routerLink]="[langPath(), 'overview']"
          [routerLinkActive]="['active']"
          [queryParamsHandling]="queryParamsHandling()"
          class="nav_link"
          aria-current="page"
          id="active"
        >
          <span class="material-icons nav_icon" aria-hidden="true">home</span>
          <span class="nav_name" data-i18n="menu-overview">{{
            'menu-overview' | translate
          }}</span>
        </a>

        <a
          [routerLink]="[langPath(), 'pages']"
          [routerLinkActive]="['active']"
          [queryParamsHandling]="queryParamsHandling()"
          class="nav_link"
        >
          <span class="material-icons nav_icon" aria-hidden="true">layers</span>
          <span class="nav_name" data-i18n="menu-pages">{{
            'menu-pages' | translate
          }}</span>
        </a>
        <a
          [routerLink]="[langPath(), 'tasks']"
          [routerLinkActive]="['active']"
          [queryParamsHandling]="queryParamsHandling()"
          class="nav_link"
        >
          <span class="material-icons nav_icon" aria-hidden="true"
            >assignment</span
          >
          <span class="nav_name" data-i18n="menu-tasks">{{
            'menu-tasks' | translate
          }}</span>
        </a>
        <a
          [routerLink]="[langPath(), 'projects']"
          [routerLinkActive]="['active']"
          [queryParamsHandling]="queryParamsHandling()"
          class="nav_link"
        >
          <span class="material-icons nav_icon" aria-hidden="true">folder</span>
          <span class="nav_name" data-i18n="menu-projects">{{
            'menu-projects' | translate
          }}</span>
        </a>
        <a
          [routerLink]="[langPath(), 'documents']"
          [routerLinkActive]="['active']"
          class="nav_link"
        >
          <span class="material-icons nav_icon" aria-hidden="true"
            >summarize</span
          >
          <span class="nav_name" data-i18n="menu-documents">{{
            'menu-documents' | translate
          }}</span>
        </a>
        <a
          [routerLink]="[langPath(), 'custom-reports']"
          [routerLinkActive]="['active']"
          class="nav_link"
          [ngClass]="{ 'cr-link': langPath() === 'fr' }"
        >
          <div class="row">
            <div id="menu-custom-report-label" class="col">
              <span class="material-icons nav_icon" aria-hidden="true"
                >dashboard</span
              >
            </div>
            <div class="col ps-1">
              <span class="nav_name" data-i18n="menu-custom-reports">{{
                'menu-custom-reports' | translate
              }}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="mb-4">
      <a
        [routerLink]="[langPath(), 'about-us']"
        [routerLinkActive]="['active']"
        [queryParamsHandling]="queryParamsHandling()"
        class="nav_link"
      >
        <span class="material-icons nav_icon" aria-hidden="true"
          >web_asset</span
        >
        <span class="nav_name" data-i18n="about-us">{{
          'about-us' | translate
        }}</span>
      </a>
      <a [href]="'feedback-mailto' | translate" class="nav_link">
        <span class="material-icons nav_icon" aria-hidden="true">feedback</span>
        <span class="nav_name" data-i18n="menu-feedback">{{
          'menu-feedback' | translate
        }}</span>
      </a>
      <!-- <a class="nav_link">
        <span class="material-icons nav_icon pointer" id="header-toggle"
          >compress</span
        >
      </a> -->
    </div>
  </nav>
</div>
