<header id="header">
  <div class="me-auto">
    <a
      [routerLink]="[langPath()]"
      [queryParamsHandling]="'merge'"
      class="logo d-flex text-decoration-none"
    >
      <img
        src="../../../assets/img/UPD-logo.svg"
        alt="{{ 'app.title' | translate }}"
        width="32"
        height="32"
      />
      <span class="align-self-end h5 ps-2 pt-1 fw-bold"
        >Usability Performance Dashboard</span
      >
    </a>
  </div>

  <div>
    <div class="picker-label"></div>
    <button
      class="btn border border-1 text-white"
      id="range-button"
      translate="{{ 'opposite.language' | translate }}"
      style="background-color: #1976d2; border-radius: 0.5rem"
      (click)="selectLanguage(oppositeLang())"
    >
      <span class="material-icons align-top pe-1" aria-hidden="true"
        >language</span
      >
      <span></span>&nbsp;
    </button>
    <!-- <span class="material-icons nav_icon text-white" aria-hidden="true"
      >language</span
    >
    <a
      style="cursor: pointer"
      class="langs text-decoration-none text-white"
      (click)="selectLanguage(oppositeLang())"
      tabindex="0"
    >
      
    </a> -->
  </div>
  <!-- <div>
    <img
      class="img-fluid fip-colour"
      [ngSrc]="craLogo"
      width="300"
      height="76"
      alt="{{ 'government_of_canada' | translate }}"
      priority="true"
    />
  </div> -->
</header>
