<header id="header">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 text-start">
      <img
        class="img-fluid fip-colour"
        [ngSrc]="craLogo"
        width="834"
        height="76"
        alt="{{'government_of_canada' | translate}}"
        priority="true"
      />
    </div>
    <div
      class="col-lg-9 col-md-8 col-sm-6 col-6 text-end lang-toggle"
    >
      <div class="language-picker-area">
        <div class="picker-label" ></div>
          <a style="cursor:pointer" class="langs" (click)="selectLanguage(oppositeLang)" tabindex="0"> {{ 'opposite.language' | translate }} </a>
      </div>
    </div>
  </div>
</header>
