.language-picker-area {
    display: flex;
    justify-content: flex-end;
  }
  
  .picker-label {
    margin-right: 20px;
  }
  
  .language-picker {
    width: 100px;
  }

  .langs, .langs:hover, .langs:visited {
    text-decoration: underline;
    color: #2e5ea7;
  }