/* You can add global styles to this file, and also import other style files */
@import url('./css/bootstrap.min.css');
@import url('./css/datatables.min.css');
@import url('./css/upd-custom.css');
@import url('../../../node_modules/primeicons/primeicons.css');
@import url('../../../node_modules/primeng/resources/themes/saga-blue/theme.css');
@import url('../../../node_modules/primeng/resources/primeng.min.css');

// dependency changes
.show4nLabels .x.axis {
  .tick {
    display: none !important;

    &:nth-child(4n) {
      display: block !important;
    }
  }
}

.tooltip-item {
  text-align: left;
  line-height: 1.2em;
  padding: 5px 0;

  .tooltip-item-color {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 5px;
    color: #5b646b;
    border-radius: 3px;
  }
}
