/* You can add global styles to this file, and also import other style files */
@import url('./css/bootstrap.min.css');
@import url('./css/datatables.min.css');
@import url('./css/upd-custom.css');
@import url('./css/primeicons.css');
@import url('primeng/resources/themes/saga-blue/theme.css');
@import url('primeng/resources/primeng.min.css');

.p-dropdown-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.p-tree-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
}

// dependency changes
.show4nLabels .x.axis {
  .tick {
    display: none !important;

    &:nth-child(4n) {
      display: block !important;
    }
  }
}

.tooltip-item {
  text-align: left;
  line-height: 1.2em;
  padding: 5px 0;

  .tooltip-item-color {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 5px;
    color: #5b646b;
    border-radius: 3px;
  }
}

.bg-planning {
  background-color: #cee5ff;
  color: #262928;
}

.bg-in-progress {
  background-color: #f7c2f4;
  color: #262928;
}

.bg-complete {
  background-color: #b3e7bd;
  color: #262928;
}

.bg-delayed {
  background-color: #eda7a7;
  color: #262928;
}

.bg-unknown {
  background-color: grey;
  color: #fff;
}

.bg-exploratory {
  background-color: #e2e7b3;
  color: #262928;
}

.bg-monitoring {
  background-color: #e3dacb;
  color: #262928;
}

.bg-needs-review {
  background-color: #94e4d8;
  color: #262928;
}

.bg-paused {
  background-color: #c9cbe5;
  color: #262928;
}

.bg-404 {
  background-color: grey;
  color: #ffffff;
}

.bg-redirect {
  background-color: #faeb1d;
  color: #262928;
}

.p-datatable {
  border-width: 1px 1px 1px 1px;
  border-collapse: collapse;
}

div.apexcharts-tooltip.apexcharts-theme-light {
  flex-direction: column;
}

.apexcharts-tooltip-marker.annotation {
  background-color: #ffffff;
  border: #000000 1.5px solid;
}

.apexcharts-tooltip-marker.star > .inner {
  position: absolute;
  background: #fffd00;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  transform: scale(0.89);
}

.event-annotation-legend > .apexcharts-legend-marker {
  background: rgb(255, 255, 255) !important;
  color: rgb(255, 255, 255);
  height: 8px;
  width: 8px;
  left: 0;
  top: -1px;
  margin-right: 8px;
  margin-left: 6px;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-radius: 100%;
}

.event-annotation-legend > .apexcharts-legend-text {
  color: rgb(55, 61, 63);
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans', sans-serif;
}

.p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border-style: solid;
  border-color: #e9ecef;
  border-width: 1px 0 1px 0;
}
