<app-card [card-title]="title" [title-tooltip]="titleTooltip" [h]="50">
    <div #ContainerRef class="h-100">
      <ngx-charts-pie-chart
        [view]="[ContainerRef.offsetWidth, ContainerRef.offsetHeight]"
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [legendTitle]="legendTitle"
        [doughnut]="doughnut"
        (select)="onSelect($event)"
      ></ngx-charts-pie-chart>
  </div>
  </app-card>