<div class="row mb-4 mt-1">
  <div class="dropdown">
    <button
      type="button"
      class="btn bg-white border border-1 dropdown-toggle"
      id="range-button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <span class="material-icons align-top">calendar_today</span>
      <span data-i18n="dr-lastweek">Last week</span>
    </button>
    <span class="text-secondary ps-2 text-nowrap dates-header-week"
      >{{ dateRange.startDate }} &ndash; {{ dateRange.endDate }}</span
    >

    <ul class="dropdown-menu" aria-labelledby="range-button" style="">
      <li>
        <a
          class="dropdown-item active"
          href="#"
          aria-current="true"
          data-i18n="dr-lastweek"
          >Last week</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="#" data-i18n="dr-lastmonth"
          >Last month</a
        >
      </li>
    </ul>
  </div>
</div>
