<app-card
  class="d-inline-block w-100"
  card-title="Example chart"
  title-tooltip="wow! an example!"
  [h]="50"
>
  <div class="h-100">
    <ngx-charts-bar-vertical
      [scheme]="colorScheme"
      [results]="single"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [legendPosition]="legendPosition"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [roundEdges]="roundEdges"
      (select)="onSelect($event)"
    >
    </ngx-charts-bar-vertical>
  </div>
</app-card>
