services:
  nginx:
    image: "upd_nginx"
    build:
      context: ../
      dockerfile: docker/performance_base/Dockerfile
      target: nginx-dev
    ports:
      - "8080:8080"
    depends_on:
      - web
    restart: unless-stopped
    container_name: upd_nginx

  web:
    image: "upd_web"
    container_name: upd_web
    restart: unless-stopped
    build:
      context: ../
      dockerfile: docker/performance_base/Dockerfile
      target: web-dev
    secrets:
      - .env
      - secret.pem
      - aa_creds_pool.json
    environment:
      DOTENV_CONFIG_PATH: /run/secrets/.env
      AA_KEY_PATH: /run/secrets/secret.pem
      AA_KEY_POOL_PATH: /run/secrets/aa_creds_pool.json
      PORT: 9000
    depends_on:
      - mongodb

#  db-updater:
#    image: "upd_db-updater"
#    container_name: upd_db-updater
#    restart: unless-stopped
#    build:
#      context: ../
#      dockerfile: docker/performance_base/Dockerfile
#      target: db-updater
#    secrets:
#      - .env
#      - secret.pem
#      - service-account-credentials.json
#    environment:
#      DOTENV_CONFIG_PATH: /run/secrets/.env
#      AA_KEY_PATH: /run/secrets/secret.pem
#      GOOGLE_APPLICATION_CREDENTIALS: /run/secrets/service-account-credentials.json
#    depends_on:
#      - mongodb

  mongodb:
    image: mongo:7.0.5-jammy
    pull_policy: if_not_present
    container_name: upd_mongo
    restart: unless-stopped
    volumes:
      - type: volume
        source: db-data
        target: /data
        volume:
          nocopy: true

  redis:
    image: redis:7.2.4
    pull_policy: if_not_present
    command: "redis-server --appendonly yes --maxmemory-policy noeviction"

volumes:
  db-data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: "D:/docker-db"

secrets:
  .env:
    file: ../.env
  secret.pem:
    file: ../keys/secret.pem
  aa_creds_pool.json:
    file: ../keys/aa_creds_pool.json
  service-account-credentials.json:
    file: ../keys/service-account-credentials.json
