**/node_modules/
**/dist
**/.angular
**/.vscode/
**/.git/
**/.swc
**/tools
**/tmp
docker/certbot/conf/keys
logs

**/__pycache__/
*.py[oc]
**/build/
**/wheels/
**/*.egg-info
**/*.ipynb

**/*.parquet
**/.venv/
**/.env