services:
  app:
    image: 'ghcr.io/cds-snc/cra-arc-upd-tbpc/codespaces-devcontainer-base:latest'
    volumes:
      - ..:/workspace:cached

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    # Runs app on the same network as the database container, allows "forwardPorts" in devcontainer.json function.
    network_mode: service:db

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally. 
    # (Adding the "ports" property to this file will not forward from a Codespace.)

  db:
    image: mongo:5 # Version 5 for DocumentDB compatibility
    restart: unless-stopped
    volumes:
      - mongodb-data:/data/db

    # Uncomment to change startup options
    # environment:
    #  MONGO_INITDB_ROOT_USERNAME: root
    #  MONGO_INITDB_ROOT_PASSWORD: example
    #  MONGO_INITDB_DATABASE: your-database-here

    # Add "forwardPorts": ["27017"] to **devcontainer.json** to forward MongoDB locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)


  redis:
    image: redis:7.2.4
    restart: unless-stopped
    network_mode: service:db
    command: "redis-server --appendonly yes --maxmemory-policy noeviction"

volumes:
  mongodb-data: