<div class="container vh-100">
  <upd-header [lang]="(currentLang$ | async) || en"></upd-header>
  <upd-sidebar></upd-sidebar>
  <h1 class="visually-hidden">{{ title }}</h1>
  <main [@routeAnimations]="getRouteAnimationData()" style="min-height: 100%">
    <router-outlet></router-outlet>
  </main>
  <footer class="mt-4">
    <div class="d-flex flex-row-reverse mt-auto pb-4">
      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <img
          class="img-fluid"
          src="./assets/img/canada-black-30mm.png"
          alt="{{'government_of_canada' | translate}}"
        />
      </div>
    </div>
  </footer>
</div>
