<div class="container vh-100">
  <upd-header [lang]="currentLang()"></upd-header>
  <upd-sidebar></upd-sidebar>
  <h1 class="visually-hidden">{{ translatedTitleFromNav() }}</h1>
  <main [@routeAnimations]="getRouteAnimationData()" style="min-height: 100%">
    <router-outlet></router-outlet>
  </main>
  <footer class="mt-4">
    <div class="d-flex justify-content-between align-items-end mt-auto pb-4">
      <div class="align-self-end">
        <span class="text-muted small">version: {{ updVersion }} </span>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <img
          class="img-fluid"
          [src]="canadaLogo"
          alt="{{'government_of_canada' | translate}}"
        />
      </div>
    </div>
  </footer>
</div>
