<div class="content">
  <upd-header></upd-header>
  <upd-sidebar></upd-sidebar>
  <h1 class="visually-hidden">{{ this.titleFromNavigation() | translate }}</h1>
  <main [@routeAnimations]="getRouteAnimationData()" style="min-height: 100%">
    <router-outlet></router-outlet>
  </main>
</div>
<footer>
  <div class="me-auto">
    <span class="text-muted small">version: {{ updVersion }} </span>
  </div>
  <img
    class="img-fluid fip-colour"
    [ngSrc]="craLogo"
    width="300"
    height="76"
    alt="{{ 'government_of_canada' | translate }}"
    priority="true"
  />
  <div class="vr"></div>
  <div>
    <img
      class="img-fluid ps-5"
      [src]="canadaLogo"
      alt="{{ 'government_of_canada' | translate }}"
      style="max-width: 300px; max-height: 30px; width: auto; height: auto"
    />
  </div>
</footer>
