name: Build Devcontainer Image

on:
  push:
    branches:
      - main
    paths:
      - '.devcontainer/build/**'

env:
  REGISTRY: ghcr.io
  REPO_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pre-build dev container image
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/${{ env.REPO_NAME }}/codespaces-devcontainer-base
          configFile: .devcontainer/build/devcontainer.json
          cacheFrom: ghcr.io/${{ env.REPO_NAME }}/codespaces-devcontainer-base
          push: always
