**/node_modules/
**/dist
**/.angular
**/.vscode/
**/.git/
**/.swc
**/tools
**/tmp
.nx
docker/certbot/conf/keys
logs
scripts

**/__pycache__/
*.py[oc]
**/build/
**/wheels/
**/*.egg-info
**/*.ipynb

**/python/mongo-parquet/src/data
**/python/mongo-parquet/src/sample
**/*.parquet
**/.venv/
**/.env